.bg-transparent {
    background: transparent;
}

.nav-link {
    color: white;
    transition: .3s;
    border-bottom: 3px solid transparent;
    font-weight: 700;
}

.nav-link:hover {
    border-bottom: 3px solid white;
    transition: .3s;
}

.disabled {
    transition: .3s;
    border-bottom: 3px solid rgb(74, 204, 255);
    background: -webkit-linear-gradient(100.19deg, rgb(74, 204, 255), rgb(245, 158, 255)) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-weight: 700 !important;
}

@media only screen and (max-width: 768px) {
    .nav-link {
        font-size: medium;
    }
}

@media only screen and (min-width: 769px) {
    .nav-link {
        font-size: larger;
    }
}