<div class="snowflakes" aria-hidden="true" *ngIf="snow.visible">
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
</div>
<div class="content-wrapper">
    <app-title-section></app-title-section>
    <app-navigation-bar></app-navigation-bar>
    <router-outlet></router-outlet>
    <div class="row">
        <div class="col-12 text-center" data-aos="zoom-out" data-aos-duration="900" data-aos-offset="-500">
            <img src="assets/img/sponsors.png" alt="Our Sponsors" class="sponsor">
        </div>
    </div>
</div>