<div class="content">
    <div class="row" data-aos="zoom-out-up" data-aos-duration="700">
        <div class="col-12 text-center">
            <h1 class="title">
                {{ eventName }}
            </h1>
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-duration="900">
        <div class="col-12">
            <h2 class="subtitle">
                Competitive Programming Contest
            </h2>
        </div>
    </div>
</div>