@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: black !important;
    color: white !important;
    overflow-x: hidden;
}

.content {
    padding-top: 5vh;
    max-width: 100vw;
}

.primary-button {
    border: double 4px transparent;
    border-radius: 50px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    background-origin: border-box;
    animation: gradient 15s ease infinite;
    background-clip: content-box, border-box;
    color: white;
    font-weight: 500;
    transition: .3s;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

.primary-button:hover {
    background-image: linear-gradient(#00000000, #00000000), radial-gradient(circle at top left,  rgb(74, 204, 255), rgb(245, 158, 255));
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


@media only screen and (max-width: 768px) {
    .content {
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .primary-button {
        width: 100px;
        height: 35px;
        font-size: 4vw;
    }
}

@media only screen and (min-width: 769px) {
    .content {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .primary-button {
        width: 200px;
        height: 50px;
        font-size: 1.5vw;
    }
}
